page-playsearch {

    .card{
        background-color:white;
    }
    .input1 {
        background-color: #F3F3F3;
        border: 3px solid #cecece;
        padding-left: 2px;
        width: 50px;
    }
    .input2{
        background-color: rgb(134, 119, 119);
        width:100px;

    }

}
